<h1>Editing tg message</h1>

<%= render "form", tg_message: @tg_message %>

<br>

<div>
  <%= link_to "Show this tg message", @tg_message %> |
  <%= link_to "Back to tg messages", tg_messages_path %>
</div>
